header{
  background:#A6A7A7 ;
}

h1 {
  text-align: center;
  color: white;
  text-transform: uppercase;
}
h2 {
  color: #062B96;
  text-transform:uppercase;
}

section {
  background: #646566;
}

a {
    color:#050200 ;
    background:#BEBDBB; 
}

img {
  display: none;
}
