main{
  display: inline-block;
}

body {
  padding: 20px;
  margin: 1%;

}

 /*Styling for header on all the webpages with a background image*/
header {
  background-color: #848E66;
  background-image: url("../img/flywheel.png");
  background-size:100%;
  padding:1%;
  background-repeat: no-repeat;

}

 /*Styling for h1 on all the webpages */
h1 {
  text-align: center;
  color: #FFFFFF;
  font-size: xx-large;
  text-transform: uppercase;

}

 /*Styling for h2 on all the webpages */

h2 {
  color: #000000;
  font-size: x-large;

}

 /*Styling is for all links inside nav tag */
nav a {
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  padding: 5px;
  background-color: #FFFFFF;
  width: 22%;
  text-align: center;
  color: #000000;
  font-weight: bold;
  font-size: 125%;
  opacity: 0.5;

}

/* Styling the opacity of the currently active link in class = "active" */
nav>a.active {
  opacity: 1;

}

/* This background color is for the class = "active" */
.active {
  background-color: #FFFFFF;
}

/* This styling is for class = "left" */
.left {
  background-color: #F4B686 ;
  float:left;
  margin: 0 4px 5px 0;
  padding:20px;
}

/* This styling is for the images under class = "left" */
.left img {
  
  display:block;
  margin-bottom: 40px;
  height: 150px;
  width: 220px;
  padding: 10px;
  border:solid 2px #000000;
  margin-bottom: 60px;

}

/* this styling is for class ="right" on all the html pages */
.right {
  width:74%;
  display: inline-block;
  padding-left: 2px;
  color:#000000;
  font-size: large;

}

/* this is for Teams page class = "header" where the table header is bold */
.header {
  font-weight: bold;

}